@require 'melon/css/theme/default/index.styl';
@require 'melon/css/Button.styl';
@require 'melon/css/Icon.styl';
@require 'melon/css/Dialog.styl';
@require 'melon/css/Title.styl';
@require 'melon/css/Progress.styl';

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 3s ease-in;
}
